Клиент Телеграм для телефонов на OS Symbian 
<br>
Предварительная информация:
* Соотвествие версий Qt версиям OS Symbian: https://wiki.qt.io/Support_for_Symbian
* Исходим из того, что на Qt 4.6 разработать клиент крайне проблематично, что отсекает все версии Симбиан ниже, чем 9.4. Тем не менее, возможен отдельный клиент на версий ≤ 9.3 после завершения работы над клиентом для 9.4/Nokia Belle Refresh/Nokia Belle FP2 (см. ниже)
* Все телефоны на Symbian S ^ 3, Symbian Anna и Symbian Belle допускают обновление до Nokia Belle Refresh/Nokia Belle FP2, для которых существует Qt 4.8
* Для разработки STC клиента дополнительным преимуществом является наличие Qt Quick Components, которые не существуют для Symbian 9.4. Это, скорее всего, делает крайне затруднительным (или даже невозможным, учитывая текущую ситуацию) разработку клиента для Symbian 9.4 и ниже и Nokia N900 Maemo. Таким образом, на первом этапе минимальным требованием к клиенту Телеграма является поддержка аппаратов на Nokia Belle Refresh and Nokia Belle FP2.
* Ни один из аппаратов на Симбиан не поддерживает TLS 1.2, требуемый для работы с серверами Телеграм. Из этого вытекает требование создания промежуточного прокси-сервера (Symbian Telegram Server / STS), необходимого для работы STC клиента на Symbian.

Исходя из вышеизложенного, план разработки такой:
1. На первом этапе разработка ведется для Nokia Belle Refresh/Nokie Belle FP2 с использованием Qt 4.8 и Qt Quick Components 1.1
2. В качестве сервера попытаться использовать существующее решение MTProxy. Если не получиться — то сделать свой прокси.
3. После успешного запуска клиента — портировать его на Qt 4.7.3 and Qt Quick Components 1.1 (это не должно быть очень трудно, там небольшая разница) для поддержки Symbian S³ и Symbian Anna.
4. После того, как готов клиент на 3.7.3 — попытаться перекомпилировать его для Nokia N9 Meego. На нем тот же Qt 3.7.3 and Qt Quick Components 1.1, но не факт, что простой перекомпиляции кода клиента будет достаточно.

Требования к STC клиенту:
* STC должен функционировать как десктопный клиент Телеграма (т.е. в качестве дополнительного, а не основного клиента). При установке клиента верификационный код должен приходить на основной клиент, установленный на смартфоне на основе Android/iOS.
* STC клиент должен интегрироваться с адресной книгой телефона
* STC клиент должен позволять пользователю создавать новые диалоги.
* STC клиент должен позволять пользователю стирать существующие диалоги.
* STC клиент должен позволять пользователю записывать, посылать и прослушивать голосовые сообщения
* Поддержка многопользовательских диалогов опциональна.
* Поддержка ботов опциональна.
* STC клиент должен поддерживать передачу и просмотр файлов форматах jpg, gif. Поддержка других форматов — опциональна.
* Черный список — опционален
* Предусмотреть возможность портирования клиента на Nokia N9 Meego и Symbian S³ / Symbian Anna(опционально)

Требования к STS серверу:
* Если возможно, то использовать готовое решение MTProxy. Если нет, то см. ниже:
* Поддержка https с использованием TLS 1.0 для обмена информацией с STC клиентом
* Поддержка http (без шифрования) для обмена информацией с STC клиентом. Это необходимо на случай портирования STC на версии Symbian ≤ 9.2 и поддержки потенциальных клиентов Телеграм на S40
* Поддержка https с использованием TLS 1.2 и TLS 1.3 для обмена информацией с серверами Telegram

Отдельная опциональная “хотелка” — push notification для информирования о новых сообщениях. Тем не менее, реализация этой “хотелки” крайне затруднительна и не является частью этого документа.
Код клиента и сервера публикуется под лицензией GPL (свободное распространение и использование и т.д.)

Контактный email: feedback@symbigram.com


